<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <p><% d = Time.now.strftime("%A, %B %d, %Y") %></p>
        <p>The date is <%= d %></p>
        <!-- The date is Sunday, June 24, 2018 -->
    </body>
</html>
